@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  --color-primary: #45c1c1;
  --color-background: #f7f7f7;
  font-family: "Poppins", sans-serif;
}

  .container-box{
    max-width: 1900px ;
    margin: 0 auto;
    
  }
  .container-box-product{
     width: 1200px ;
     max-width: 100%;
    margin: 0 auto;
  }
.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}
.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}
.Toastify {
    position: absolute;
    z-index: 999999;
}
.ModalLogin {
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  marginright: -50%;
  transform: translate(-50%, -50%);
  width: 55%;
  padding: 0;

  borderradius: 10px;
}

.nav-mobile {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: #5996ab;
}

.button-menu {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  left: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
}

.nav-list-group {
  padding: 25px;
  position: absolute;
  top: 100px;
  width: 230px;
}

.nav-list {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
}

.text-placeholder {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  flex: 1;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* .NavbarItems {
  background: #ffff;
  height: 80px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: fixed;
  z-index: 1000000000000000;
}

.navbar-logo {
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
  color: #0000;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: #0000;
}

.nav-links:hover {
  background-color: #5996ab;
  border-radius: 4px;
  transation: all 0.2s ease-out;
}

.menu-icon {
  display: none;
}

.btn padding {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn:hover {
  padding: 8px 20px;
  transation: all 0.3s ease-out;
  background: #5996ab;
  color: #ffff;
}

.btn--primary {
  background-color: #5996ab;
}

.btn-outline {
  background-color: transparent;
  color: #fff;
  padding: 8px 20px;
  border-radius: 4px;
  border: 1px solid #5996ab;
  transation: all 0.3s ease-out;
}

.btn--medium {
  padding: 8px 20px;
  border-radius: 4px;
  font-size: 18px;
  color: #fff;
} */

@media screen and (max-width: 960px) {
  .NavbarMenu {
    position: fixed;
  }
  .nav-menu {
    display: flex;
    flex-direction: columns;
    width: 100%;
    max-height: 310px;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 0;
    transation: all 0.5 ease;
  }

  .nav-menu .active {
    background: #0000;
    left: 0;
    opacity: 1;
    position: absolute;

    transation: all 0.5s ease;
    z-index: 1;
  }
}

.pagination > li {
  display: inline-block;
  padding-left: 0;
}
.pagination > li {
  list-style: none;
  border: 0.9px solid;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #5996ab;
  background-color: #fff;
  outline: none;
  border: 1px solid #ddd;
  margin-left: -1px;
}

.pagination > li.active > a {
  color: #fff;
  background-color: #5996ab;
  border-color: #5996ab;
}

/* Style the active class (and buttons on mouse-over) */
.pagination > li > a:hover {
  background-color: #2c689c;
  color: white;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  padding: 0px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  display: none !important;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 4px;
  margin-right: 0;
  padding: 0px !important;
  border-top-right-radius: 4px;
  display: none !important;
}

.slick-slider .slick-list {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
  transform: none !important;
}

.slick-prev:before,
.slick-next:before {
  color: #5996ab;
}

.product-image{
  width: 600px;
  height: 600px;
  border-radius: 10px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
 .product-image{
  width: 100%;
  height: 312px;
  border-radius: 10px;
}
}

#modal-costume {
  position: absolute; 
   position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  width: 50%;
  height: 50%; /* Need a specific value to work */
}


.swiper-button-next,
.swiper-button-prev {
    background-color: white;
    border-radius: 100%;
   width: 20px !important;
   height: 20px !important;
    padding: 10px;
    color: #000 !important;
    fill: black !important;
    stroke: black !important;
    top: 50% !important;
}
.swiper-button-next {
  right: 0 !important;
}
.swiper-button-prev {
  left: 0 !important;
}
.swiper-button-next::after{
    font-size: 13px !important;
    text-transform: none!important;
    letter-spacing: 0;
        font-weight: bold;

    text-transform: none;
    font-variant: initial;
    line-height: 1;
}
.swiper-button-prev::after{
    font-size: 13px !important;
    font-weight: bold;
    text-transform: none!important;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
    line-height: 1;
}


